body {
	background:#CCCCCC;
	font-size: 100%;
	margin:0em;
	padding:0em;
}

h1 {
	font-size:2em;
	line-height:3.8em;
	font-family:Helvetica;
	font-weight:100;
	color:#8B8989;
	margin:0em;
	text-align:center;
}

h2 {
	font-size:1.5em;
	line-height:1.8em;
	font-family:Helvetica;
	font-weight:100;
	color:#FFFFFF;
	margin:0em;
	padding:1.25em;
	text-align:left;
}
h3	{
	line-height:1.8em;
	font-family:Helvetica;
	font-weight:100;
	color:#F3F3F3;
	margin:0em;
	padding:1.25em;
	text-align:justify;
}


p {
	line-height:1.8em;
	font-family:Helvetica;
	font-weight:100;
	color:#F3F3F3;
	margin:0em;
	padding:1.25em;
	text-align:justify;
}

#registrate {
	line-height:0em;
	font-family:Helvetica;
	font-weight:100;
	font-size:0.8em;
	color:#F3F3F3;
	margin-left:1em;
	padding:0.5em;
	text-align:lef;
}

ul {
	margin:0px;
	padding:0px;
}

li {
	list-style:square;
	font-family:Helvetica;
	font-weight:100;
	color:#FFCC00;
	margin:0em;
	line-height:1.25em;
	padding:0em;
	margin:0.3em 0em 0.3em 0em;
}

img {
	width:90%;
	height:auto;
	max-width:100%
}
a {
	text-decoration: none;
}

/* On Top Bar*/
#menubar {
	display:block;
	background:#01595A;
	width: 100%;
	position: fixed;
	top:0em;
	height:2.5em;

}



/*Header*/
header {
	display:block;
	background:#FFFFFF;
	text-align:center;	
	width: 100%;
	position: fixed;
	top: 2.5em;
	
}

header ul {
	display:block;
	width: 8em;
	height: 0em;
	
}
header ul li{
	display:inline;
	
}

/* Navigation */
nav {
	display:block;
	height:2.5em;
	background:#01595A;
	text-align:center;
	width: 100%;
	position: fixed;
	top: 9.5em;
	border-bottom:0.1em solid #CCCCCC;
	
	
}

nav ul {
	display:block;
}

nav ul li {
	display: inline;
	margin:0em 0.2em 0em 0.2em;
}
nav ul li a {
	color:#d3d3d3;
	font-size: 1.13em;
	line-height:2.5em;
	padding:0.5em 0.9em 0.4em 1em;
	transition: background 0.2s;
	-webkit-transition:background 0.2s;
}

nav ul li a:hover {
	background:#0f3133;
	border-bottom:0.19em solid #FFFF00;
}
nav ul li a.active {
	border-bottom:0.19em solid #FFFF00;
}

/* Content Area */
#main{
	display:block;
	width:96%;
	max-width:980px;
	margin:12em auto;
	padding:0em;
	
	
}

#main article {
	display:inline-block;
	width:100%;
	background:#01595A;
	vertical-align:top;
	margin:1em auto;
	text-align:center;
	border-bottom:0.1em solid #FFFF00;
	border-radius:5px;
}

footer {
	display: block;
	background: #01595A;
	text-align: center;
	position: fixed;
	bottom: 0em;
	width: 100%;
	border-top:0.1em solid #CCCCCC;
}

footer ul {
	display:block;
	width: 100%;
	max-width:980px;
	text-align:center;
	margin:0px auto;
}

footer ul li {
	display: inline;
	font-size:0.8em;
	line-height:1.5em;
	color:#F3F3F3;
	
	
}
/** Forms */
form {
	line-height:1em;
	font-family:Helvetica;
	font-weight:100;
	padding:1.25em;
	color:#F3F3F3;
	text-align:right;
	
}

form label { 
	display: block;
	padding: 0; 
	margin: 0.6em 0 0;
	text-align: right; 
}

.radioLabel {
	display: inline;
        font-weight: normal;
}

#role {
	display: block;
	text-align: center; 
}


form input, form select {
	width: 12.6em;
	margin: 5px 0 0 10px;
	border: 1px solid gray;
	padding: 0.3em;
}
form input[type=submit] {
	width: 13.3em;
	
}

form input[type=submit]:hover {
	cursor: pointer;
	background: silver;
}

form br {
	clear: left;
}


textarea {
	margin-left: 0.72em;
	width:13.3em;
	max-width:13.3em;
	min-width:13.3em;
}


input[type='radio'] {
	width:auto;
	float:center-right;
	margin-right: 1em;
	margin-left: 2em;
	color: red;
}

input[type='checkbox'] {
	width:auto;
	float:center-right;
	margin-right: 1em;
	margin-left: 2em;
	color: red;
}

table {
	margin-left:auto;
	margin-right:auto;
	font-family:Helvetica;
	font-weight:100;
	font-size:0.9em;
	color:#F3F3F3;
	text-align:left;
	
}

.cells {
    font-weight: bold;
}

#questionTable {
	margin-left:auto;
	margin-right: auto;
}

#user {
	line-height:3em;
}


#loginTable {
	margin-left: 21em;
	margin-right:auto;
}

button {
	width:5em;
}


/** Responsiv Area */
@media screen and (max-width:1020px) {
	#loginTable {
		margin-left:16em;
		margin-right:auto;
}	
	#questionTable {
		margin-left: auto;
		margin-right:auto;
}
}


@media screen and (max-width:920px) {
	#loginTable {
		margin-left:14em;
		margin-right:auto;
}	
}
@media screen and (max-width:850px) {
	#loginTable {
		margin-left:12em;
		margin-right:auto;
}	
}

@media screen and (max-width:800px) {
	body {
		font-size:90%;

	}
	
	#loginTable {
		margin-left:auto;
		margin-right:auto;
}	
}

@media screen and (max-width:600px) {
		body {
		font-size:85%;
	}
	
		#main {
		margin: 13em auto;
	}
	
	
		#main article {
		width:100%;
		display:block;
		margin:auto;
	}
	
		nav {
		height:auto;
	}
		nav lu li {
		display:block;
		margin:0.3em 0em 0.3em 0em;
		
	}
}

@media screen and (max-width:571px) {
		#main {
		margin: 16em auto;
	}
	

}
@media screen and (max-width:475px){

	header ul {
		display:none;
	}
	
	
}
	
@media screen and (max-width:315px) {
		#main {
		margin: 19em auto;
	}
} /* ZU!!!!!!!!!!!!!!!!!!!! */	


		
